.surveyBtn {
    background:#37d351;
    color:#fff;
    cursor: pointer;
    font-size:18px;
    text-decoration:none;
    padding:10px 20px;
    border-radius:10px;
    margin-top:20px;
    margin-bottom:20px;
    border: none;
}
.surveyBtn:hover {
    box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 2px 4px rgba(0, 0, 0, .25);
}