<body>
<h2>Privacy Policy for Emotional Tracking System</h2>
<ol>
    <li>Introduction : </li>
    <ul>Emotional Tracking System is a web application developed for the purpose of tracking user's emotional and physical well-being by using data from the user's Google Fit. The purpose of this privacy policy is to inform the user about how we collect, use, and protect their personal information.</ul>
    <li>Information we collect :</li>
        <ul>We collect the following information from the user's Google Fit account:
        <li>Heartbeat rate</li>
        <li>Activities</li>
        <li>Steps taken</li>
        We also collect information that the user voluntarily provides to us, such as their name and email address.</ul>
    <li>Use of information :</li>
    <ul>The information we collect from the user's Google Fit account is used solely for the purpose of tracking their emotional and physical well-being. This information is used to generate reports and insights to help the user make informed decisions about their health and well-being.
    The user's name and email address are used to identify the user and to provide customer support.</ul>
    <li>Sharing of information : </li>
        <ul>We do not share the user's personal information with any third parties without their consent, except as required by law.</ul>
    <li>Security of information :</li>
        <ul>We take reasonable measures to protect the user's personal information from unauthorized access, use, or disclosure.</ul>
    <li>User rights :</li>
        <ul>The user has the right to request access to their personal information, and to request that their personal information be corrected or deleted. The user also has the right to withdraw their consent to the collection and use of their personal information.</ul>
    <li>Changes to this policy :</li>
        <ul>We may update this privacy policy from time to time. The user will be notified of any changes to this policy by email or by a notice on our website.</ul>
    </ol> 
</body>