<body>
    <h2>Terms of Use</h2>
    <ol>
        <li>Introduction : </li>
        <ul>These terms of use govern the use of Emotional Tracking System, a web application developed for the purpose of tracking user's emotional and physical well-being by using data from the user's Google Fit. By using Emotional Tracking System, the user agrees to these terms of use.</ul>
        <li>Use of the application :</li>
            <ul>Emotional Tracking System is provided to the user for personal use only. The user may not use Emotional Tracking System for any commercial purpose or for any illegal or unauthorized purpose.
                <br>The user is responsible for maintaining the security of their account and password. The user agrees to notify us immediately of any unauthorized use of their account or any other breach of security.</ul>
        <li>Intellectual property :</li>
        <ul>The user acknowledges that Emotional Tracking System and all of its content, including but not limited to text, graphics, images, logos, and software, are the property of the developer or its licensors, and are protected by intellectual property laws.
            <br>The user may not use Emotional Tracking System or its content for any commercial purpose or for any illegal or unauthorized purpose.</ul>
    
        </ol> 
    </body>