<body>
<header id="showcase">
    <h1>Emotion Tracking System</h1>
    <p>Our platform is built with the sole purpose of providing a safe and reliable tool for monitoring emotional well-being in the elderly population.</p>
    <a href="/login" class="button">Login</a>
    <p style="font-size: 14px;">
        <a href="/terms-of-use">Terms of Use</a>
        |
        <a href="/privacy-policy">Privacy Policy</a>
        </p>
</header>
</body>
<footer>This project was created by Tanchapas Chantaranimi and Pongsathon Jaikaew as a senior year project at Chiang Mai University and is intended for demonstration purposes only.</footer>